html {
  height: 100%;
}

body {
  background-color: #444;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1281px) {
  body {
    background-image: url('splash_m.jpg');
  }
}

@media screen and (max-width: 760px) {
  body {
    background-image: url('splash_s.jpg');
  }

  .mHidden {
    display: none;
  }
}

@media screen and (min-width: 1281px),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2),
screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  body {
    background-image: url('splash_l.jpg');
  }
}

::selection {
  background: #A64DFF;
}

::-moz-selection {
  background: #A64DFF;
}

#eMail {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
  z-index: 2;
}

#diapo {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
  z-index: -3;
  transform: translate(140px, 105px)
             skewX(60deg)
             translate(-140px, -105px);
}

#filtered {
  filter: url(#filter);
  -webkit-filter: url(#filter);
  color: #fff;
  fill: #fff;
  font-family: 'Turret Road', sans-serif;
  font-size: 7em;
  transition: font-size 5s;
  /* Animation */
}

#filtered:hover {
  text-decoration: underline;
  font-size: 9em;
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#olympian {
  position: fixed;
  left: calc(50% - 256px);
  bottom: 0;
  width: 512px;
  height: 543px;
  background: url(../img/olympian.png) no-repeat;
}

#olympian:hover {
  width: 512px;
  height: 543px;
  background: url(../img/olympian-hover.png) no-repeat;
  animation: ani 2s linear infinite;
}

@keyframes ani {
  0% {
    transform: scale(0);
  }

  25%, 100% {
    transform: scale(1);
  }
}

#olympian:active {
  background: url(../img/olympian-active.png) no-repeat;
}

#olympian:visited {
  width: 512px;
  height: 543px;
  background: url(../img/olympian-visited.png) no-repeat;
}
